# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl

# Virtual environments
.env/
.venv/
venv/
ENV/
env.bak/

# Environment variables
.env

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# MacOS
.DS_Store

# PyCharm
.idea/

# Logs
*.log

# Compiled files
*.so
*.egg-info/
dist/
build/

# Test cache
.cache/
.pytest_cache/

*.egg-info/
